@import 'normalize';

body {
    font-family: 'Helvetica Neue', sans-serif;
    color: #666;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
}

h1 {
    font-size: 72px;
    line-height: 1.4;
}

h2 {
    font-size: 24px;
    font-weight: normal;
}

h3 {
    margin: 8px 0;
}

li {
    margin: 16px 0;
    list-style: none;
}

a {
    color: #3395F8;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #3395F8;
    transition: 0.2s all ease;
    &:hover {
        color: darken(#3395F8, 18%);
    }
}

.wrapper {
    width: 80%;
    margin: 5% auto;
}

.anti-css {
    font-size: 18px;
}

.main {
    margin: 32px 0;
}
